# Python cache & environments
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.python-version
.venv/
env/
venv/

# Environment and secrets
.env*
*.pem
*.key
*.crt
*.cert

# Database & local dynamic files
*.sqlite3*
*.db*
*.log
local_settings.py
/media/
/staticfiles/
Backups/
license.txt
last_sync_status.json

# Builds & installation artifacts
dist/
build/
*.spec
*.zip
*.exe

# Git & CI/CD tools
.git/
.gitignore
.dockerignore
.sonarcloud.properties
sonar-project.properties
scratch/

# IDE & Editor
.vscode/
.idea/
